@use '../colors' as *;

// Default
.icon {
  fill: $light;
  color: $light;
  transition: all 0.1s;
}

// Item specific variants
.icon {
  &-site {
    fill: $accent-yellow;
    font-size: 5rem;
    border: 3px solid $accent-yellow;
    border-radius: 50%;
    padding: 0.75rem;
    align-self: center;
  }

  &-wide {
    font-size: 9rem;
  }

  &-compact {
    font-size: 7rem;
  }
}
