@use '../colors' as *;

// Sidebar
.sidebar {
  background: $dark-1;
  padding: 2rem 1.5rem;
  width: 18rem;

  display: flex;
  flex-direction: column;

  gap: 2rem;

  &__description {
    text-align: center;
  }

  &__description p:not(:last-child) {
    margin-bottom: 1rem;
  }

  .btn {
    position: absolute;
    bottom: 3rem;
    align-self: center;
  }
}

// Section container
.container {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    gap: 1rem;
  }
}

.container__header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1.15rem;
  }
}

// variants
.container-home {
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 3rem 5rem;
}

.container-city {
  gap: 1rem;
  padding: 2rem;
  margin: auto;
  width: fit-content;
  background-color: rgba($light, 0.2);
  border: 1px solid rgba($light, 0.2);
  border-radius: 1rem;

  .container__row {
    display: flex;
    gap: 0.5rem;
  }
}

main:has(.container-city) {
  margin: auto;
}
