@use '../colors' as *;

//// Form & input components
.form__label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__input-search * {
  color: black;
}

.form__menu * {
  font-size: 0.9rem;
}

//// Buttons
.btn {
  background: transparent;
  border: none;
  border-radius: 1rem;

  font-size: 1rem;
  padding: 0.25rem 2rem;
  width: fit-content;
  cursor: pointer;
  transition: all 0.1s;
}

.btn:has(.icon) {
  display: flex;
  align-items: center;
  justify-content: center;
}

// variants
.btn-default {
  background-color: $dark-2;
  padding: 0.5rem 2rem;

  &:is(:hover, :focus) {
    background-color: rgba($dark-1, 0.6);
  }
}

.btn-outlined {
  outline: 1px solid white;

  &:is(:hover, :focus) {
    color: $accent-yellow;
    background: rgba($accent-yellow, 0.1);
    outline: 1px solid $accent-yellow;
  }

  &:is(:hover, :focus) .icon {
    fill: $accent-yellow;
  }
}

//// Cards
.card {
  display: flex;
  border-radius: 0.5rem;
  background-color: rgba($accent-yellow, 0.1);
  overflow: hidden;
}

// variants
.card-img {
  $size: 15rem;
  height: $size;
  width: $size;
  background-size: cover;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: all 0.15s ease-out;

  .card__title {
    width: 100%;
    align-self: flex-end;
    font-size: 1.75rem;
    padding: 1rem 0.5rem;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(0, 0, 0, 0.5) 100%
    );
    backdrop-filter: blur(1px);
  }

  &:is(:hover, :focus) {
    filter: none;
  }
}

#tre-card {
  background-image: url('../../../public/tampere.jpg');
}

#hki-card {
  background-image: url('../../../public/helsinki.jpg');
}

#tku-card {
  background-image: url('../../../public/turku.jpg');
}
