$dark-1: #081b24;
$dark-2: #152c39;
$dark-3: #2c3640;
$dark-4: #657e98;

$light: #f9fcfb;

$accent-purple: #7a59a4;
$accent-blue: #47a6db;
$accent-yellow: #ecb13e;

$gradient-primary: linear-gradient(
  0deg,
  rgba(236, 177, 62, 1) 0%,
  rgba(122, 89, 164, 1) 100%
);
$gradient-secondary: linear-gradient(
  0deg,
  rgba(236, 177, 62, 1) 0%,
  rgba(71, 166, 219, 1) 100%
);



$gradient-rainy: linear-gradient(
  0deg,
  #536e7d 0%,
  #AAB2B6 100%
);

$gradient-clear: linear-gradient(
  0deg,
  #4EA3DB 0%,
  #93D0F3 100%
);

$gradient-cloudy: linear-gradient(
  0deg,
  #5A97B4 0%,
  #A2BBCB 100%
);

$gradient-snowy: linear-gradient(
  0deg,
  #3E6185 0%,
  #A4C6E9 100%
);

$gradient-stormy: linear-gradient(
  0deg,
  #1E262E 0%,
  #8C6935 100%
);