@use './colors' as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  background: $dark-1;
}

#__next {
  display: grid;
  grid-template-columns: 15rem auto;
  height: 100%;
}

li {
  list-style: none;
}
