@use './colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  font: {
    family: 'Roboto', sans-serif;
    weight: 300;
    variant: common-ligatures tabular-nums;
  }

  color: $light;
}

[class$='-sm'] {
  font-size: 1.25rem;
}

[class$='-md'] {
  font-size: 1.5rem;
}

[class$='-lg'] {
  font-size: 1.75rem;
}

[class$='-xl'] {
  font-size: 2rem;
}
