@use './colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  font: {
    family: 'Roboto', sans-serif;
    weight: 300;
    variant: common-ligatures tabular-nums;
  }

  color: $light;
}

.sm {
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

.md {
  font-size: 1.5rem;
}

.lg {
  font-size: 1.75rem;
}

.xl {
  font-size: 2rem;
}

.xxl {
  font-size: 2.25rem;
}

.bold {
  font-weight: 500;
}

.subtle {
  color: rgba($light, 0.7);
}
