@use '../../colors' as *;

// Base
.weather {
  border-radius: 1rem;
  background: rgba($dark-1, 0.5);
  padding: 0.75rem 1rem;
  border: 1px solid rgba($accent-blue, 0.2);
  box-shadow: 0 0 0.75rem 0 rgba($dark-1, 0.3);
  height: 20rem;

  transition: background 0.1s ease-out;

  &:hover {
    background: rgba($dark-1, 0.6);
  }
}

.weather__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.weather__details {
  display: grid;
}

.weather__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  svg {
    fill: $accent-blue;
  }
}

// Wide variant
.weather-wide {
  display: grid;
  column-gap: 2rem;
  align-items: center;
  grid-template-columns: 2fr auto;
  grid-template-rows: auto 1fr;
  padding: 0.75rem 2rem;

  .weather__dates {
    grid-column: 1/3;
    grid-row: 1/1;
  }

  .weather__details {
    row-gap: 0.5rem;
    grid-template-rows: repeat(1fr);
  }

  .weather__icon {
    $size: 8rem;
    width: $size;
    height: $size;
    mask-size: $size !important;
    margin-bottom: 0.5rem;
  }

  .weather__item:nth-child(2) {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba($accent-blue, 0.5);
  }

  .weather__item svg {
    font-size: 1.5rem;
  }
}

// Narrow variant
.weather-compact {
  display: grid;
  grid-template-rows: auto 3fr auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  min-width: 10rem;

  .weather__icon {
    margin-bottom: 0.25rem;
  }

  .weather__details {
    column-gap: 0.75rem;
    justify-items: flex-start;
    grid-template-columns: 1fr 1fr;
    padding-top: 0.75rem;
    white-space: nowrap;
    border-top: 1px solid rgba($accent-blue, 0.5);
  }

  .weather__item {
    gap: 0.25rem;
    font-size: 1rem;

    svg {
      font-size: 1.25rem;
    }
  }
}
